<div class="reset-container">
  <mat-card class="reset-card">
    <mat-card-title>Redefinir Senha</mat-card-title>

    <mat-card-content>
      <p class="subtitle">
        Insira o seu e-mail e enviaremos um link para redefinir a sua senha.
      </p>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="reset-form">
      <input type="email" placeholder="Email" formControlName="email" />
      @if (forgotForm.get('email')?.touched && forgotForm.get('email')?.errors?.['required']) {
        <div class="error-message">O email é obrigatório.</div>
      }
      @if (forgotForm.get('email')?.touched && forgotForm.get('email')?.errors?.['email']) {
        <div class="error-message">Digite um email válido.</div>
      }


        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn-submit"
          [disabled]="forgotForm.invalid || isLoading"
        >
          @if (!isLoading) {
            <span>Enviar E-mail</span>
          } @else {
            <span>Enviando...</span>
          }
        </button>

        @if (message) {
          <div
            [class.error-message]="isError"
            [class.success-message]="!isError"
            class="status-message"
          >
            {{ message }}
          </div>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>
