
<div class="container" [class.right-panel-active]="isRightPanelActive" id="container">

  <!-- REGISTRO -->
  <div class="form-container sign-up-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onRegisterSubmit()">
      <h1>Criar Conta</h1>
      <span>Use o seu e-mail para o registo</span>

      <input type="email" placeholder="Email" formControlName="email" />
      <input type="password" placeholder="Password" formControlName="password" />

      @if (errorMessageRegister) {
        <div class="error-message">
          {{ errorMessageRegister }}
        </div>
      }

      <button type="submit" [disabled]="isLoading">
        @if (!isLoading) {
          <span>Registar</span>
        } @else {
          <span>A Registar...</span>
        }
      </button>
    </form>
  </div>

  <!-- LOGIN -->
  <div class="form-container sign-in-container">
    <form [formGroup]="signInForm" (ngSubmit)="onLoginSubmit()">
      <h1>Login</h1>
      <span>Use a sua conta</span>

      <input type="email" placeholder="Email" formControlName="email" />
      <input type="password" placeholder="Password" formControlName="password" />

      @if (errorMessageLogin) {
        <div class="error-message">
          {{ errorMessageLogin }}
        </div>
      }

      <a href="/forgot-password">Esqueceu-se da palavra-passe?</a>
      <button type="submit" [disabled]="isLoading">
        @if (!isLoading) {
          <span>Login</span>
        } @else {
          <span>Aguarde...</span>
        }
      </button>
    </form>
  </div>

  <!-- OVERLAY -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bem-vindo de Volta!</h1>
        <p>Para se manter conectado, faça login com os seus dados pessoais</p>
        <button class="ghost" (click)="toggleSignIn()">Login</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Olá, Lojista!</h1>
        <p>Insira os seus dados de cadastro e comece a sua jornada com a gente.</p>
        <button class="ghost" (click)="toggleSignUp()">Registar</button>
      </div>
    </div>
  </div>
</div>
