<div class="dashboard-container">

  <main class="main-content">
    <header class="main-header">
      <div class="header-actions">
        <div class="dropdown-container">
          <button class="dropdown-toggle" (click)="toggleDropdown()">
            <span class="material-icons">settings</span>
          </button>
          @if (isDropdownOpen) {
          <ul class="dropdown-menu">
            <li class="dropdown-item" (click)="openConfig()">Configurações de Email</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a href="#" class="dropdown-item">Logout</a></li>
          </ul>
          }
        </div>
      </div>
    </header>
    <section class="dashboard-overview">
      @for (metrica of metricas; track metrica.titulo) {
      <app-card-metrica [titulo]="metrica.titulo" [metrica]="metrica.metrica" [detalhe]="metrica.detalhe">
      </app-card-metrica>
      }
    </section>
    <section class="dashboard-details">
      <div class="placeholder-chart">
        <app-chart-component [chartType]="'bar'" [chartTitle]="'Distribuição de Clientes por Região'"
          [chartData]="dadosDeClientes" [valueSuffix]="'clientes'">
        </app-chart-component>
      </div>
      <app-table></app-table>
    </section>
  </main>
</div>