<div class="dashboard-container">

  <!-- <aside class="sidebar">
    <div class="sidebar-header">
      <h3>Meu App</h3>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#" class="active">📊 Dashboard</a></li>
        <li><a href="#">📈 Analytics</a></li>
        <li><a href="#">📦 Produtos</a></li>
        <li><a href="#">👥 Clientes</a></li>
        <li><a href="#">⚙️ Configurações</a></li>
      </ul>
    </nav>
  </aside> -->

  <main class="main-content">
    <header class="main-header">
      <h1>Dashboard Principal</h1>

      <div class="header-actions">
        <div class="user-info">
          <span>Bem-vindo, Usuário!</span>
        </div>

        <div class="dropdown-container">
          <button class="dropdown-toggle" (click)="toggleDropdown()">
            🏪 </button>

          @if (isDropdownOpen) {
          <ul class="dropdown-menu">
            <li class="dropdown-item" (click)="openConfig()">Configurações de Email</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a href="#" class="dropdown-item">Logout</a></li>
          </ul>


          }
        </div>
      </div>
    </header>

    <section class="dashboard-overview">
      <div class="card">
        <h2>Vendas Hoje</h2>
        <p class="metric">R$ 1.250,75</p>
        <p class="detail">+5% vs. ontem</p>
      </div>
      <div class="card">
        <h2>Novos Usuários</h2>
        <p class="metric">32</p>
        <p class="detail">+10% na última semana</p>
      </div>
      <div class="card">
        <h2>Pedidos Pendentes</h2>
        <p class="metric">8</p>
        <p class="detail">Atualizado há 5 minutos</p>
      </div>
      <div class="card">
        <h2>Taxa de Satisfação</h2>
        <p class="metric">95%</p>
        <p class="detail">Baseado em 200 avaliações</p>
      </div>
    </section>

    <section class="dashboard-details">
        <div class="placeholder-chart">
          <app-chart-component [chartType]="'bar'" [chartTitle]="'Distribuição de Clientes por Região'"
            [chartData]="dadosDeClientes" [valueSuffix]="' clientes'">
          </app-chart-component>
      </div>
      <div class="card activity-table">
        <h2>Atividade Recente</h2>
        <table>
          <thead>
            <tr>
              <th>ID do Pedido</th>
              <th>Cliente</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#1102</td>
              <td>Ana Silva</td>
              <td>Enviado</td>
            </tr>
            <tr>
              <td>#1101</td>
              <td>Carlos Souza</td>
              <td>Processando</td>
            </tr>
            <tr>
              <td>#1100</td>
              <td>Beatriz Lima</td>
              <td>Entregue</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </main>
</div>