<div class="dashboard-container">

  <!-- <aside class="sidebar">
    <div class="sidebar-header">
      <h3>Meu App</h3>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#" class="active">📊 Dashboard</a></li>
        <li><a href="#">📈 Analytics</a></li>
        <li><a href="#">📦 Produtos</a></li>
        <li><a href="#">👥 Clientes</a></li>
        <li><a href="#">⚙️ Configurações</a></li>
      </ul>
    </nav>
  </aside> -->

  <main class="main-content">
    <header class="main-header">
      <h1>Dashboard Principal</h1>

      <div class="header-actions">
        <div class="user-info">
          <span>Bem-vindo, Usuário!</span>
        </div>

        <div class="dropdown-container">
          <button class="dropdown-toggle" (click)="toggleDropdown()">
            🏪 </button>

          @if (isDropdownOpen) {
          <ul class="dropdown-menu">
            <li class="dropdown-item" (click)="openConfig()">Configurações de Email</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a href="#" class="dropdown-item">Logout</a></li>
          </ul>


          }
        </div>
      </div>
    </header>

    <section class="dashboard-overview">
      @for (metrica of metricas; track metrica.titulo) {
      <app-card-metrica [titulo]="metrica.titulo" [metrica]="metrica.metrica" [detalhe]="metrica.detalhe">
      </app-card-metrica>
      }
    </section>


    <section class="dashboard-details">
      <div class="placeholder-chart">
        <app-chart-component [chartType]="'bar'" [chartTitle]="'Distribuição de Clientes por Região'"
          [chartData]="dadosDeClientes" [valueSuffix]="' clientes'">
        </app-chart-component>
      </div>
      <app-table></app-table>
    </section>

  </main>
</div>