<div class="header-container">
    <header class="main-header">
        <div class="header-left">
            <div class="header-title">
                <h2 #typingEffect></h2>
            </div>
        </div>


        <div class="header-actions">

            <button class="icon-button" title="Ajuda">
                <span class="material-icons">help_outline</span>
            </button>
            <button class="icon-button" title="Alternar Tema">
                <span class="material-icons">brightness_4</span>
            </button>

            <div class="dropdown-container">
                <button class="user-profile-button" (click)="toggleDropdown()" aria-label="Abrir menu do usuário"
                    title="Abrir menu do usuário" aria-haspopup="true" aria-controls="user-menu"
                    [attr.aria-expanded]="isDropdownOpen">
                    <img class="avatar" src="https://i.pinimg.com/736x/33/42/56/3342562dfa8c236362eff9c66ba29754.jpg"
                        alt="Avatar do usuário">
                    <span class="user-name">Olá, Usuário!</span>
                    <span class="material-icons chevron-icon">expand_more</span>
                </button>

                @if (isDropdownOpen) {
                <ul class="dropdown-menu" id="user-menu">
                    <li class="dropdown-item" (click)="openConfig()">Configurações do Tempo de Espera</li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-item" (click)="openTemplate()">Configurações do Template de Email</li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a href="#" class="dropdown-item">Logout</a></li>
                </ul>
                }
            </div>
        </div>
    </header>
</div>