.login-screen-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.image-wrapper {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
}

.fullscreen-img {
    width: 100%;
    height: 100%;
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
    object-fit: cover;
    display: block;
}

app-login {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}