<div class="form-container">
  <mat-card>
    <mat-card-title>Redefinir Senha</mat-card-title>

    <mat-card-content>
      @if (errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
      }

      @if (!errorMessage) {
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
          
          <!-- NOVA SENHA -->
          <div class="input-group">
            <label for="newPassword">Nova Senha</label>
            <input
              id="newPassword"
              type="password"
              formControlName="newPassword"
              placeholder="Digite a nova senha"
              required
            />
            @if (resetForm.get('newPassword')?.hasError('required') && resetForm.get('newPassword')?.touched) {
              <div class="error-message">Este campo é obrigatório</div>
            }
            @if (resetForm.get('newPassword')?.hasError('minlength')) {
              <div class="error-message">A senha deve ter pelo menos 8 caracteres</div>
            }
          </div>

          <!-- CONFIRMAR SENHA -->
          <div class="input-group">
            <label for="confirmPassword">Confirmar Senha</label>
            <input
              id="confirmPassword"
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirme sua senha"
              required
            />
            @if (resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors?.['required']) {
              <div class="error-message">Confirme a sua senha.</div>
            }
            @if (resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors?.['mismatch']) {
              <div class="error-message">As senhas não coincidem.</div>
            }
          </div>

          <!-- BOTÃO -->
          <button type="submit" [disabled]="resetForm.invalid || isLoading" class="submit-button">
            @if (!isLoading) {
              <span>Redefinir Senha</span>
            } @else {
              <span>Aguarde...</span>
            }
          </button>
        </form>
      }

      @if (successMessage) {
        <div class="success-message fade-in">{{ successMessage }}</div>
      }
    </mat-card-content>
  </mat-card>
</div>
