<div class="page-container">
  <div class="reset-card">
    <h2 class="card-title">Redefinir Senha</h2>

    @if (errorMessage) {
    <div class="form-status-box form-status-box--error">
      {{ errorMessage }}
    </div>
    }

    @if (!errorMessage) {
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- NOVA SENHA -->
      <div class="input-group">
        <label for="newPassword">Nova Senha</label>
        <input
          id="newPassword"
          type="password"
          class="form-input"
          formControlName="newPassword"
          placeholder="Digite a nova senha"
          required
        />
        @if (resetForm.get('newPassword')?.hasError('required') && resetForm.get('newPassword')?.touched) {
        <div class="field-error">Este campo é obrigatório</div>
        }
        @if (resetForm.get('newPassword')?.hasError('minlength')) {
        <div class="field-error">A senha deve ter pelo menos 8 caracteres</div>
        }
      </div>

      <!-- CONFIRMAR SENHA -->
      <div class="input-group">
        <label for="confirmPassword">Confirmar Senha</label>
        <input
          id="confirmPassword"
          type="password"
          class="form-input"
          formControlName="confirmPassword"
          placeholder="Confirme sua senha"
          required
        />
        @if (resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors?.['required']) {
        <div class="field-error">Confirme a sua senha.</div>
        }
        @if (resetForm.hasError('passwordsMismatch') && resetForm.get('confirmPassword')?.touched) {
        <div class="field-error">As senhas não coincidem.</div>
        }
      </div>

      <!-- BOTÃO -->
      <button type="submit" [disabled]="resetForm.invalid || isLoading" class="submit-button">
        @if (!isLoading) {
        <span>Redefinir Senha</span>
        } @else {
        <span>Aguarde...</span>
        }
      </button>
    </form>
    }

    @if (successMessage) {
    <div class="form-status-box form-status-box--success">
      {{ successMessage }}
    </div>
    }
  </div>
</div>
