#meuGrafico {
    max-width: 100%;
    max-height: 281px;
}

.container-types {
    display: flex;
    width: 100%;
}

.grafico-tipos {
    display: flex;
    gap: 10px;
    width: 100%;
    padding-top: 15px;
    list-style: none;
    margin: 0;
    justify-content: center;
}

.grafico-tipos li {
    cursor: pointer;
    background-color: #2c3e50;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    transition: background-color 0.3s;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grafico-tipos li:hover,
.grafico-tipos li.selected {
    background-color: #3498db; 
    color: #fff;
}
