<div class="main">
  <div class="chart-header">
    <div class="period-filters">
      <button 
        (click)="selecionarPeriodo('SEMANAL')" 
        [class.active]="periodoAtivo === 'SEMANAL'">
        Semana
      </button>
      <button 
        (click)="selecionarPeriodo('MENSAL')" 
        [class.active]="periodoAtivo === 'MENSAL'">
        Mês
      </button>
      <button 
        (click)="selecionarPeriodo('ANUAL')" 
        [class.active]="periodoAtivo === 'ANUAL'">
        Ano
      </button>
    </div>
  </div>
  <div class="chart-container">
    <canvas #chartCanvas id="meuGrafico">Seu navegador não suporta o elemento canvas.</canvas>
  </div>
  <div class="chart-controls">
    <button (click)="mudarTipoGrafico('bar')" [class.active]="selectedType === 'bar'">Bar</button>
    <button (click)="mudarTipoGrafico('line')" [class.active]="selectedType === 'line'">Line</button>
    <button (click)="mudarTipoGrafico('pie')" [class.active]="selectedType === 'pie'">Pie</button>
    <button (click)="mudarTipoGrafico('doughnut')" [class.active]="selectedType === 'doughnut'">Doughnut</button>
    <button (click)="mudarTipoGrafico('radar')" [class.active]="selectedType === 'radar'">Radar</button>
  </div>
</div>