.app-container {
  display: flex;
  width: 100%;
}

.navbar-header {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

app-nav-bar.closed {
  width: 90px;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

app-contact-support {
  position: fixed;
  bottom: 20px; 
  right: 20px;  
  z-index: 1000; 
}
