// .home-screen-container {
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100vw;
//     height: 100vh;
// }
// app-dashboard{
//     flex: 1;
// }
.home-screen-container {
  display: flex; /* Ativa o Flexbox, alinhando os filhos em linha */
  gap: 20px;     /* Opcional: Adiciona um espaço de 20px entre os componentes */
}

/* Opcional: Faz com que cada componente ocupe metade do espaço */
app-dashboard,
app-setting {
  flex: 1; /* Cada um ocupa uma fração igual do espaço disponível */
}