:host {
  --sidebar-bg: #1e3d32;
  --main-bg: #f6f9f7;
  --card-bg: #ffffff;
  --text-dark: #2a2a2a;
  --text-light: #ecfdf5;
  --primary-color: #2bbf82;
  --border-color: #d9e6df;
}


.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--main-bg);
  overflow-y: auto;
}

.dashboard-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 1rem;
  gap: 1.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .dashboard-details {
    grid-template-columns: 1fr;
  }
}

.dashboard-details {
  display: flex;
  gap: 10px;           /* espaço entre as divs */
  width: 100%;
  height: 100vh;       /* altura total da tela */
  padding: 10px;
  box-sizing: border-box;
}

.dashboard-box {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Larguras específicas */
.dashboard-box-30 {
  flex: 0 0 40%;       /* não cresce, ocupa 30% */
}

.dashboard-box-70 {
  flex: 0 0 60%;       /* não cresce, ocupa 70% */
}

/* Scroll apenas para a segunda div */
.dashboard-box-scroll {
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
}
