<div class="welcome-container" [class.navigating-out]="isNavigating">

  @if (isNavigating) {
    <div class="spinner"></div>
  }

  @if (!isNavigating) {
    <div class="text-content">
      
      <h1 class="welcome-title">
        @for (char of welcomeTextArray; track $index) {
          <span [style.animation-delay]="$index * 60 + 'ms'">
            {{ char }}
          </span>
        }
      </h1>

      <p class="welcome-message">
        @for (char of randomMessageArray; track $index) {
          <span [style.animation-delay]="(welcomeTextArray.length * 60) + ($index * 30) + 'ms'">
            {{ char }}
          </span>
        }
      </p>
    </div>

    <div class="loader-bar-container">
      <div class="loader-bar"></div>
    </div>
  }

</div>
