.seta-direita {
    position: fixed; /* Mantém a seta na mesma posição da tela durante a rolagem */
    top: 50%; /* Alinha o topo do botão com o meio da tela */
    right: 30px; /* Distância da borda direita */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical para o centro exato */
    z-index: 100; /* Garante que a seta fique acima de outros conteúdos */
}

/* Opcional: Aumentar o tamanho do ícone dentro do botão FAB */
.seta-direita mat-icon {
    transform: scale(1.2); /* Deixa o ícone um pouco maior */
}