<div class="card activity-table">
  <h2 style=" 
  text-align: center;
  margin: 0 0 16px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1e293b;">Atividade Recente</h2>

  <table>
    <thead>
      <tr>
        <th>ID do Pedido</th>
        <th>Produto</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @for (atividade of atividades; track atividade.id) {
      <tr>
        <td>{{ atividade.id }}</td>
        <td>{{ atividade.produto }}</td>
        <td>
          <span class="status-badge" [ngClass]="{
            'status-recuperado': atividade.status === 'Recuperado', 
            'status-recuperacao': atividade.status === 'Em Recuperação', 
            'status-abandonado': atividade.status === 'Abandonado'
          }">
            {{ atividade.status }}
          </span>
        </td>
      </tr>
      } @empty {
      <tr class="empty-row">
        <td colspan="3">Nenhuma atividade recente encontrada.</td>
      </tr>
      }
    </tbody>
  </table>
</div>